///*------------------------------------*\
//    #SETTINGS-RESPONSIVE
//\*------------------------------------*/

// Hold our breakpoint aliases and conditions in a list.
//
// These can be invoked later on via the `media-query()` mixin found in
// `_tools.responsive`.

// Predefine the variables below in order to alter and enable specific features.
$plump-enable-retina: false !default;





@if $plump-enable-retina == true {

	$breakpoints: (
		'palm'          'screen and (max-width: 44.9375em)',
		'lap'           'screen and (min-width: 45em) and (max-width: 63.9375em)',
		'lap-and-up'    'screen and (min-width: 45em)',
		'portable'      'screen and (max-width: 63.9375em)',
		'desk'          'screen and (min-width: 64em)',
		'desk-wide'     'screen and (min-width: 64.9375em)',
		'retina'        '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)'
	) !default;

}

@else {

	$breakpoints: (
		'palm'          'screen and (max-width: 44.9375em)',
		'lap'           'screen and (min-width: 45em) and (max-width: 63.9375em)',
		'lap-and-up'    'screen and (min-width: 45em)',
		'portable'      'screen and (max-width: 63.9375em)',
		'desk'          'screen and (min-width: 64em)',
		'desk-wide'     'screen and (min-width: 64.9375em)',
	) !default;
}
